<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="browsers" value="FireFox"></parameter>
	<parameter name="browsers" value="Chrome"></parameter>
	<test name="Test">
		<classes>
			<class name="com.ParametersBrowsers.OpenBrowsers"></class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
